html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background: linear-gradient(90deg, #222222 50%, #FFFFFF 50%);
}

.container {
    max-width: 100%;
    display: flex;
    margin: auto;
    min-height: 100%;
}

.sidebar {
    flex-shrink: 0;
    padding: 2.5em 1.5em;
    background-color: #333333;
    color: #FFFFFF;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    line-height: 1.5em;
}

.sidebar ul ul {
    padding-left: 0.75em;
}

.sidebar a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin: 0.375em 0 0.375em;
}

.sidebar a:visited {
    color: inherit;
}

.sidebar a:hover {
    color: inherit;
    text-decoration: underline;
}

.sidebar li.active {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    min-height: 100vh;
    background-color: #F0F0F0;
}

main>h1 {
    margin: 0;
    padding: 0.75em 0.5em;
    color: #FFFFFF;
    background-color: #444444;
}

main .content {
    padding: 0.75em 0.5em;
}

.sort-label:hover, [data-toggle='collapse']:hover {
    cursor: pointer;
}

.sort-label, [data-toggle='collapse'] {
    position: relative;
}

.sort-label:after {
    content: '\f0dc';
    position: absolute;
    right: 8px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

[data-toggle='collapse']:after {
    content: '\f068';
    position: absolute;
    right: 1em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

[data-toggle='collapse'][aria-expanded='true']:after {
    content: '\f068';
}

[data-toggle='collapse'][aria-expanded='false']:after {
    content: '\f067';
}

.sort-label[data-order='asc']:after {
    content: '\f0de';
}

.sort-label[data-order='desc']:after {
    content: '\f0dd';
}
